@model IEnumerable<TrangTuyenDung.Models.Recruitment>
@{
    ViewBag.Title = "Tìm kiếm";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

@section Styles {
    <!-- Header/Search-background -->
    <link rel="stylesheet" href="~/Content/Home/index.css" />
    <!-- Jobs card -->
    <link href="~/Content/list-recruitment.css" rel="stylesheet" />
}

<!-- header Searching -->
<section class="mini_heading">
    @Html.Action("partialJobFilter", "Home", new { area = "" })
</section>

<!-- search results -->
@if (Model != null && Model.Count() > 0) {
    <div class="container py-4">
        <div class="mb-1 d-block clearfix">
            <span class="font-weight-medium text-secondary">@Model.Count() kết quả được tìm thấy</span>
        </div>

        <div class="row">
            @foreach (var result in Model) {
                <div class="col-12 mb-2">
                    <div class="media recruit_post px-3 pt-3 pb-2 pb-md-3">
                        <!-- logo -->
                        <div class="company_logo overflow-hidden border mr-3 d-lg-block d-none">
                            @if (result.Company_id != null) {
                                <img src="@Url.Content("~/App_Data/Company/Logos/" + result.Company_id)" alt="EJob @result.Company_Info.Name_Company" />
                            }
                            else {
                                <img src="@Url.Content("~/Assets/img/vlu-logo-foot.png")" alt="EJob @result.Company_Info.Name_Company" />
                            }
                        </div>

                        <div class="media-body">
                            <!-- title/location -->
                            <div class="mb-2">
                                <h5 class="my-0 text-capitalize text-truncate">@result.title</h5>
                                <div class="text-truncate font-weight-medium">@result.Company_Info.Name_Company</div>
                                <div><i class="fas fa-map-marker-alt"></i> @result.District.Province.Name</div>
                            </div>

                            <!-- description -->
                            @if (!String.IsNullOrWhiteSpace(result.Job_Description)) {
                                <div>
                                    <a class="recruit_description small font-weight-medium" data-toggle="collapse" href="@("#recruitDescription" + result.Id)" role="button" aria-expanded="false" aria-controls="@("recruitDescription" + result.Id)">
                                        Mô tả công việc
                                    </a>
                                    <div class="collapse" id="@("recruitDescription" + result.Id)">
                                        @Html.Raw(result.Job_Description)
                                        <hr />
                                    </div>
                                </div>
                            }

                            <!-- location - job types - salary -->
                            <div class="row mt-1 mt-md-0">
                                <div class="col-md-3">
                                    <ul class="list-inline mb-0">
                                        <li class="small text-secondary font-weight-medium">Địa điểm</li>
                                        <li class="font-weight-medium">
                                            @if (!String.IsNullOrEmpty(result.District.District_Name)) {
                                                <span>Quận @result.District.District_Name,&nbsp</span>
                                            }
                                            @result.District.Province.Name
                                        </li>
                                    </ul>
                                </div>

                                @if (result.Is_Full_Time != false
                                    || result.Is_Part_Time != false
                                    || result.Is_Intership != false) {
                                    <div class="col-md-3">
                                        <ul class="list-inline mb-0">
                                            <li class="small text-secondary font-weight-medium">Loại công việc</li>
                                            @if (result.Is_Full_Time == true) {
                                                <li class="font-weight-medium text-white badge badge-info">Full-time</li>
                                            }
                                            @if (result.Is_Part_Time == true) {
                                                <li class="font-weight-medium text-white badge badge-dark">Part-time</li>
                                            }
                                            @if (result.Is_Intership == true) {
                                                <li class="font-weight-medium text-white badge badge-success">Thực tập</li>
                                            }
                                        </ul>
                                    </div>
                                }

                                <div class="col-md-3">
                                    <ul class="list-inline mb-0">
                                        <li class="small text-secondary font-weight-medium">Lương (VNĐ)</li>
                                        @if (result.Salary_from == null && result.Salary_to == null) {
                                            <li class="font-weight-medium">Lương Thỏa Thuận</li>
                                        }
                                        else {
                                            var localCurrency = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
                                            <li class="font-weight-medium">
                                                @String.Format(localCurrency, "{0:N0}", result.Salary_from)  - @String.Format(localCurrency, "{0:N0}", result.Salary_to)
                                            </li>
                                        }
                                    </ul>
                                </div>

                                <div class="col d-flex align-items-center justify-content-center justify-content-md-end mt-2 mt-md-0">
                                    <a href="@Url.Action("Detail", "Recruitment", new { area = "", id = result.Id })" class="btn btn-sm btn-outline-primary" role="button">
                                        Xem chi tiết
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else {
    <div class="container intro my-4">
        <div class="d-block text-center lead font-weight-medium">
            Không có kết quả phù hợp.
        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            fillSearchField();
            function fillSearchField() {
                const urlParams = new URLSearchParams(window.location.search);

                $('input#all').val(urlParams.get('all'));
                $('select#city').val(urlParams.get('city'));
                $('select#fac').val(urlParams.get('fac'));
            }
        });
    </script>
}