@model TrangTuyenDung.Areas.Staff.Models.StaffDashboardViewModel
@{
    ViewBag.Title = "Bảng Điểu Khiển";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.itemActive = "dashboard";
}

<!-- page heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <span class="h3 mb-0 text-gray-800">Bảng điều khiển</span>
</div>

<div class="mb-2">Tin tuyển dụng</div>
<!-- recruitment -->
<div class="row">
    <!-- total recruitment post -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Tổng tin tuyển dụng</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.numRecs</div>
                        <div class="small mt-1">
                            Tin tuyển dụng <b> hiện có </b>trong hệ thống (bao gồm Tin đợi duyệt/đang tuyển/hết hạn).
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="far fa-newspaper fa-3x text-gray-300"></i>
                    </div>
                </div>
            </div>

            <a href="@Url.Action("List", "Recruitment", new { area = "Staff" })" class="stretched-link small text-right pr-3">Xem chi tiết</a>
        </div>
    </div>

    <!-- recruitment available -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Tin đang tuyển</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.numActivedRecs</div>
                        <div class="small mt-1">
                            Tổng số tin tuyển dụng <b>còn thời hạn</b> trong hệ thống.
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-award fa-3x text-gray-300"></i>
                    </div>
                </div>
            </div>

            <a href="@Url.Action("List", "Recruitment", new { area = "Staff" })" class="stretched-link small text-right pr-3">Xem chi tiết</a>
        </div>
    </div>

    <!-- pending recruitment -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Tin đợi duyệt</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.numPendingRecs</div>
                        <div class="small mt-1">
                            Tin tuyển dụng đợi duyệt.
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-inbox fa-3x text-gray-300"></i>
                    </div>
                </div>
            </div>

            <a href="@Url.Action("Approve", "Recruitment", new { area = "Staff" })" class="stretched-link small text-right pr-3">Xem chi tiết</a>
        </div>
    </div>

    <!-- pending recruitment -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Tin hết hạn</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.numExpiredRecs</div>
                        <div class="small mt-1">
                            Tổng số tin tuyển dụng hết hạn.
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="far fa-clock fa-3x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- company -->
<div class="mb-2">Công ty</div>
<div class="row">
    <!-- activated -->
    <div class="col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Tổng số công ty</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.numCompany</div>
                        <div class="small mt-1">
                            Công ty<b> đang hoạt động</b>.
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="far fa-building fa-3x text-gray-300"></i>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Approvedlist", "Account", new { area = "Staff" })" class="stretched-link small text-right pr-3">Xem chi tiết</a>
        </div>
    </div>

    <!-- pendding approve -->
    <div class="col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Công ty đợi duyệt</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.numPendingComs</div>
                        <div class="small mt-1">
                            Công ty<b> đang đợi duyệt</b>.
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-file-contract fa-3x text-gray-300"></i>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Pending", "Account", new { area = "Staff" })" class="stretched-link small text-right pr-3">Xem chi tiết</a>
        </div>
    </div>
</div>

<!-- student -->
<div class="mb-2">Sinh viên</div>
<div class="row">
    <!-- total students joined -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Tổng sinh viên</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.numCandidate</div>
                        <div class="small mt-1">
                            Sinh viên <b>đã tham gia</b>.
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user-graduate fa-3x text-gray-300"></i>
                    </div>
                </div>
            </div>

            <a href="@Url.Action("Studentlist", "Candidate", new { area = "Staff" })" class="stretched-link small text-right pr-3">Xem chi tiết</a>
        </div>
    </div>

    <!-- total CV created -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tổng CV</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.numCVs</div>
                        <div class="small mt-1">
                            Tổng CV sinh viên <b>đã tạo</b>.
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="far fa-id-card fa-3x text-gray-300"></i>
                    </div>
                </div>
            </div>

            <a href="@Url.Action("CVlist", "Candidate", new { area = "Staff" })" class="stretched-link small text-right pr-3">Xem chi tiết</a>
        </div>
    </div>

    <!-- CV appling -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Đơn đang ứng tuyển</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.numApplyingCans</div>
                        <div class="small mt-1">
                            Tổng số đơn <b>đang tham gia ứng tuyển</b>.
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-external-link-alt fa-3x text-gray-300"></i>
                    </div>
                </div>
            </div>

            <a href="@Url.Action("Pending", "Candidate", new { area = "Staff" })" class="stretched-link small text-right pr-3">Xem chi tiết</a>
        </div>
    </div>

    <!-- are working -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Sinh viên đi làm</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.numSuccessCans</div>
                        <div class="small mt-1">
                            Số sinh viên <b>tìm được việc trong hệ thống</b>.
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="far fa-check-circle fa-3x text-gray-300"></i>
                    </div>
                </div>
            </div>

            @*<a href="" class="stretched-link small text-right pr-3">Xem chi tiết</a>*@
        </div>
    </div>
</div>

<!-- falcuty -->
<div class="mb-2">Nhà trường</div>
<div class="row">
    <!-- total falcuty -->
    <div class="col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Khoa / ngành</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.numFaculties Khoa / @Model.numMajors Ngành Đào Tạo</div>
                        <div class="small mt-1">
                            Tổng số <b>khoa/ngành</b> đang hoạt động trong hệ thống.
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-book fa-3x text-gray-300"></i>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Facultieslist", "Faculty", new { area = "Staff" })" class="stretched-link small text-right pr-3">Xem chi tiết</a>
        </div>
    </div>

    <!-- total falcuty -->
    <div class="col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Vị trí việc làm</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.numJobPositions</div>

                        <div class="small mt-1">
                            Vị trí việc làm của các <b>khoa/ngành </b> trong hệ thống.
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-crosshairs fa-3x text-gray-300"></i>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Listjob_position", "Faculty", new { area = "Staff" })" class="stretched-link small text-right pr-3">Xem chi tiết</a>
        </div>
    </div>
</div>
