@model TrangTuyenDung.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Đổi Mật Khẩu";
}


@using (Html.BeginForm("ChangePassword", "Manage", new { area = "" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="modal-body p-3">
        <div class="form-row">
            <!-- name -->
            <div class="form-group col-12">
                <label for="OldPassword">Mật khẩu cũ</label>
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control form-control-lg" })
                @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
            </div>

            <!-- name -->
            <div class="form-group col-md-6 col-12">
                <label for="NewPassword">Mật khẩu mới</label>
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control form-control-lg" })
                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
            </div>

            <!-- name -->
            <div class="form-group col-md-6 col-12">
                <label for="ConfirmPassword">Nhập lại mật khẩu</label>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control form-control-lg" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="modal-footer p-3">
        <button type="submit" class="btn btn-primary">
            Thay Đổi
        </button>
    </div>
}
