@model TrangTuyenDung.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Xác nhận thông tin tài khoản";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@section Styles {
    <!-- select2 -->
    <link href="~/Content/Vendor/select2/select2.min.css" rel="stylesheet" />
    <link href="~/Content/Vendor/select2/select2-bootstrap4.min.css" rel="stylesheet" />

    <!-- bootstrap datepicker3 -->
    <link href="~/Content/Vendor/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />

    <!-- auth site css -->
    <link href="~/Content/auth.css" rel="stylesheet" />
}

<div class="auth_page d-flex">
    <div class="auth_sidebar p-5 bg-light d-none d-lg-block">
        <a href="#">
            <img class="logo img-fluid" src="~/Assets/img/vlu-logo-foot.png" alt="Ejob Văn Lang Đại Học" />
        </a>
        <h1 class="d-inline">Chào mừng bạn đến với EJob.</h1>
    </div>

    <main class="justify-content-lg-center align-items-lg-center px-3 py-2">
        <div class="auth_content w-100">
            <div class="mb-4">
                <a class="d-block d-lg-none my-3" href="@Url.Action("IndexCallBack", "Home", new { area=""})">
                    <img class="img-fluid" src="~/Assets/img/vlu-logo-blue.png" alt="Ejob Văn Lang Đại Học" style="height: 4rem;" />
                </a>
                <h2 class="font-weight-bold mb-3 text-dark">Thông tin cá nhân</h2>

                <div class="text-success">
                    <div>Bạn đã đăng nhập thành công với tài khoản <strong>@ViewBag.LoginProvider</strong>.</div>
                    <div>Kiểm tra Email và chọn tên Khoa/Ngành của bạn để hoàn thành việc đăng ký.</div>
                </div>
            </div>

            @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" })) {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "small font-weight-medium text-danger d-block" })
                <!-- email -->
                <div class="form-group">
                    <label class="font-weight-medium d-block" for="Email">Email</label>
                    <input type="email" id="Email" name="Email" class="form-control" value="@Model.Email" readonly>
                </div>
                <!-- birthday -->
                <div class="mb-3">
                    <label for="Student_Birthday" class="font-weight-medium d-block">Ngày sinh</label>
                    <div class="input-group">
                        <input id="datepicker" type="text" class="form-control" name="Student_Birthday" required>
                        <div class="input-group-append">
                            <span class="input-group-text" id="validationTooltipUsernamePrepend"><i class="far fa-calendar-alt"></i></span>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.Student_Birthday, "", new { @class = "small font-weight-medium text-danger" })
                    <small class="form-text text-muted">
                        mm/dd/yy
                    </small>
                </div>
                <!-- gender -->
                <div class="mb-3">
                    <label class="font-weight-medium d-block">Giới tính</label>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input id="Male" class="custom-control-input" value="Male" type="radio" name="Student_Gender" required>
                        <label class="custom-control-label" for="Male">Nam</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input id="Female" class="custom-control-input" value="Male" type="radio" name="Student_Gender">
                        <label class="custom-control-label" for="Female">Nữ</label>
                    </div>
                    @Html.ValidationMessageFor(model => model.Student_Gender, "", new { @class = "small font-weight-medium text-danger" })
                </div>
                <!-- falcuty -->
                <div class="form-group">
                    <label class="font-weight-medium d-block" for="Faculties_Id">Chuyên ngành</label>
                    @Html.DropDownList("Faculties_Id", null, "", new { @class = "custom-select", @required = "" })
                    @Html.ValidationMessageFor(model => model.Faculties_Id, "", new { @class = "small font-weight-medium text-danger d-block" })
                </div>

                <button type="submit" class="btn btn-primary w-50 font-weight-medium">Hoàn tất</button>
            }
        </div>
    </main>
</div>

@section Scripts {
    <!-- bootstrap datepicker3 -->
    <script src="~/Scripts/Vendor/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/Vendor/bootstrap-datepicker/bootstrap-datepicker.vi.min.js"></script>

    <!-- select2 -->
    <script src="~/Scripts/Vendor/select2/select2.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            initialDatepicker();
            function initialDatepicker() {
                $('#datepicker').datepicker({
                    format: "mm/dd/yy",
                    clearBtn: true,
                    language: "vi",
                    todayHighlight: true,
                });
            }

            searchSelect2($("#Faculties_Id"), "--Chọn ngành--");

            function searchSelect2(el, placeholder = "--Chọn--", options) {
                return el.select2({
                    theme: 'bootstrap4',
                    dropdownAutoWidth: true,
                    width: '100%',
                    placeholder: placeholder,
                    sorter: data => sortSelect(data),
                    ...options
                });
            };
            function sortSelect(data) {
                return data.sort(function (a, b) {
                    if (a.text > b.text) {
                        return 1;
                    }
                    if (a.text < b.text) {
                        return -1;
                    }
                    return 0;
                });
            }
        });
    </script>
}
