@model TrangTuyenDung.Models.ForgotPasswordViewModel

@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "Quên mật khẩu?";
}

@section Styles {
    <link href="~/Content/auth.css" rel="stylesheet" />
}

<div class="auth_page d-flex">
    <div class="auth_sidebar p-5 bg-light d-none d-lg-block">
        <a href="@Url.Action("IndexCallBack", "Home", new { area="" })">
            <img class="logo img-fluid" src="~/Assets/img/vlu-logo-foot.png" alt="Ejob Văn Lang Đại Học" />
        </a>
        <h1 class="d-inline">Chào mừng bạn đến với EJob.</h1>
    </div>

    <main class="justify-content-lg-center align-items-lg-center px-3 py-2">
        <div class="auth_content w-100">
            <div>
                <a class="d-block d-lg-none my-3" href="@Url.Action("IndexCallBack", "Home", new { area="" })">
                    <img class="img-fluid" src="~/Assets/img/vlu-logo-blue.png" alt="Ejob Văn Lang Đại Học" style="height: 4rem;" />
                </a>
                <h2 class="font-weight-bold mb-2 text-dark">Bạn quên mật khẩu?</h2>
            </div>

            <div class="text-muted mb-4">
                Nhập địa chỉ email của bạn đang sử dụng cho tài khoản của bạn bên dưới.
            </div>

            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @id = "forgotPwForm", role = "form" })) {
                @Html.AntiForgeryToken()
                @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
                String errorMessage = "";
                foreach (var modelStateValue in ViewData.ModelState.Values) {
                    foreach (var error in modelStateValue.Errors) {
                        errorMessage += error.ErrorMessage;
                    }
                }
                <div class="form-group">
                    <label class="font-weight-medium d-block" for="Email">Email</label>
                    @Html.TextBoxFor(m => m.Email, new { @class = errorMessage != "" ? "form-control is-invalid" : "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "invalid-feedback", @id = "email-errmsg" })
                </div>

                <button type="submit" class="btn btn-primary w-50 font-weight-medium">Gửi</button>
            }
            @if (ViewBag.Message == "false") {
                <label class="font-weight-medium d-block" style="color:red">Email không tồn tại</label>
            }
            <div class="text-muted small my-3">
                <a href="@Url.Action("IndexCallBack", "Home", new { area=""})">Trang chủ</a>
                &nbsp;·&nbsp;
                <a href="@Url.Action("Login", "Account", new { area = "" })">Đăng nhập</a>
            </div>
        </div>
    </main>
</div>

@section Scripts {
    <script type="text/javascript">
        // If have ModalState error, show login diaglog
        $(document).ready(function () {
            const forgotPwForm = $("#forgotPwForm");
            const emailField = $("#Email");
            const emailErrMsg = $("#email-errmsg");

            forgotPwForm.submit(function () {
                const emailInput = emailField.val();
                const mailRegex = /.+@@.+\..+/;

                if (!emailInput) {
                    emailField.addClass("is-invalid");
                    emailErrMsg.text("Vui lòng nhập email.");
                    return false;
                }

                if (!mailRegex.test(emailInput)) {
                    emailField.addClass("is-invalid");
                    emailErrMsg.text("Vui lòng nhập đúng định dạng email.");
                    return false;
                }
            });
        });
    </script>
}