@model TrangTuyenDung.Models.RecruitmentShow

@{
    ViewBag.Title = "PreView";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var data = Model.ConvertToRecruitmentSupport(Model);

}

<div style="margin-top:2rem;margin-bottom:2rem;text-align:center;background-image:linear-gradient(to right, rgba(255,0,0,0), rgb(255, 0, 0))">
    <span style="border:3px solid brown;border-radius:50px;padding:10px 10px 10px;font-size:20px;color:brown;background:#fff"><i style="color:brown" class="fas fa-exclamation-circle"></i> Bản xem trước </span>
</div>
<div class="container" style="height:50px;text-align:center;margin-bottom:2rem">
    @using (Html.BeginForm("Create", "Recruitment", new { area = "Company" }, FormMethod.Post, new { entype = "multiple", @class = "register-form", @style = "flex: 1;padding: 1%" })) {
        <button value="Save" class="btn btn-success" style="width:20%;height:100%" name="submit" type="submit">Lưu</button>
        <button value="Cancel" class="btn btn-danger" style="width:20%;height:100%" name="submit" type="submit">Hủy</button>
    }
</div>
<div class="bg-light">
    <div class="container pb-5">
        <div class="text-white py-2"><i class="fas fa-exclamation-circle"></i> Bản xem trước</div>
        <div class="row">
            <!-- detail job -->
            <div class="col-lg-7 mt-lg-0 mt-3 order-2 order-lg-1">
                <div class="card">
                    <div class="card-body">
                        <!-- title - job types -->
                        <h4 class="card-title text-trunc-2">@Model.title</h4>
                        <div class="card-subtitle mb-2 text-muted">
                            <ul class="list-inline mb-0">
                                @if (Model.Is_Full_Time == true) {
                                    <li class="font-weight-medium text-white badge badge-info">@Model.Num_FullTime Full-time</li>
                                }
                                @if (Model.Is_Part_Time == true) {
                                    <li class="font-weight-medium text-white badge badge-dark">@Model.Num_PartTime Part-time</li>
                                }
                                @if (Model.Is_Intership == true) {
                                    <li class="font-weight-medium text-white badge badge-success">@Model.Num_Intern Thực tập</li>
                                }
                            </ul>
                        </div>

                        <!-- date expire - salary - location -->
                        <div class="text-dark mb-2">
                            <div>
                                <i class="fas fa-hand-holding-usd"></i>
                                @if (Model.Salary_from == null && Model.Salary_to == null) {
                                    <span>Lương Thỏa Thuận</span>
                                }
                                else {
                                    var localCurrency = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
                                    <span>@String.Format(localCurrency, "{0:N0}", @Model.Salary_from)  - @String.Format(localCurrency, "{0:N0}", @Model.Salary_to) (đ)</span>
                                }
                            </div>

                            <div>
                                <i class="fas fa-map-marker-alt"></i>
                                &nbsp;@Model.District.Type @Model.District.District_Name, @Model.District.Province.Type @Model.District.Province.Name
                            </div>

                            <div>
                                <i class="fas fa-history"></i>
                                Còn @(Model.Expire_date.Subtract(DateTime.Now).Days) ngày để ứng tuyển
                            </div>
                        </div>

                        <!-- btn apply cv -->
                        <div class="d-md-flex d-block">
                            @if (Request.IsAuthenticated) {
                                if (User.IsInRole("Student")) {
                                    if (ViewBag.checkApplied == true) {
                                        <a href="@Url.Action("TrackingCV", "Account", new { area = "Student" })" class="btn btn-success mt-3 mr-2 col">
                                            Bạn đã nộp CV, kiểm trang trạng thái ứng tuyển nào!
                                        </a>
                                    }
                                    else {
                                        if (ViewBag.checkCV == true) {
                                            <button type="button" class="btn btn-primary mt-3 mr-2 col" data-toggle="modal" data-target="#acceptModal">
                                                Ứng tuyển ngay
                                            </button>

                                            <div class="modal fade" id="acceptModal" tabindex="-1" role="dialog" aria-labelledby="acceptLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="acceptLabel">Xác nhận</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body text-center">
                                                            <p>Bạn có chắc chắn ứng tuyển công việc này không?</p>
                                                            <span class="text-danger">
                                                                <b>*Lưu ý:</b> CV sẽ được hệ thống gửi đi ở trạng thái hiện tại.
                                                            </span>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                                            <a href="@Url.Action("Apply", "Recruitment", new { recID = Model.Id })" class="btn btn-primary">
                                                                Ứng tuyển
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else {
                                            <a href="@Url.Action("Detail","Account",new { area = "Student" })" class="btn btn-info mt-3 mr-2 col">
                                                Tạo CV ngay để ứng tuyển công việc này
                                            </a>
                                        }
                                    }
                                }
                            }
                            else {
                                <a href="@Url.Action("Login", "Account", new { ReturnUrl = Url.Action("Detail", "Recruitment", new { id = Model.Id }) })" class="btn btn-primary mt-3 btn-block" role="button">
                                    Đăng nhập để ứng tuyển nào!
                                </a>
                            }

                            <!-- bookmark recruitment post -->
                            @if (Request.IsAuthenticated && User.IsInRole("Student")) {
                                if (ViewBag.chkBookmark == true) {
                                    <button id="btnBookmark" type="button" class="btn btn-danger mt-3 col-md-auto">
                                        <i class="fas fa-heart"></i>
                                        Bỏ thích
                                    </button>
                                }
                                else {
                                    <button id="btnBookmark" type="button" class="btn btn-outline-danger mt-3 col-md-auto">
                                        <i class="far fa-heart"></i>
                                        Thích
                                    </button>
                                }
                            }
                        </div>

                        <!-- detail information -->
                        <hr />
                        <div class="card-text mb-4">
                            <div class="h5">Mô tả công việc</div>
                            <div>@Html.Raw(Model.Job_Description)</div>
                        </div>

                        <div class="card-text mb-4">
                            <div class="h5">Yêu cầu công việc</div>
                            <div>@Html.Raw(Model.Soft_Skills)</div>
                        </div>

                        <div class="card-text mb-4">
                            <div class="h5">Kỹ năng yêu cầu</div>
                            <div>@Html.Raw(Model.Required_Skills)</div>
                        </div>

                        <div class="card-text mb-4">
                            <div class="h5">Phúc lợi</div>
                            <div>@Html.Raw(Model.Job_Benefits)</div>
                        </div>

                        <div class="card-text mb-4">
                            <div class="h5">Khác</div>
                            <div>@Html.Raw(Model.Job_Optional)</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- company intro -->
            <div class="col-lg-5 order-1 order-lg-2">
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-12 col-lg-4 px-3 pt-2 logo_img">
                            @if (Model.Company_id != null) {
                                <img class="border" src="@Url.Content("~/App_Data/Company/Logos/" + Model.Company_id)" alt="@Model.Company_Info.Name_Company" style="height: 10rem" />
                            }
                            else {
                                <img class="border" src="@Url.Content("~/App_Data/Company/Logos/vlu-logo.png")" alt="EJob Van Lang" style="height: 10rem" />
                            }
                            <a class="stretched-link" href="@Url.Action("Company", "Home", new { area="", id = Model.Company_id })"></a>
                        </div>
                        <div class="col-12 col-lg-8">
                            <div class="card-body">
                                <h5 class="card-title">@Model.Company_Info.Name_Company</h5>
                                <div class="card-text">
                                    @if (!String.IsNullOrWhiteSpace(@Model.District.Province.Type) || !String.IsNullOrWhiteSpace(@Model.District.Province.Name)) {
                                        <div class="pb-1"><i class="fas fa-map-marker-alt"></i>&nbsp; @Model.District.Type @Model.District.District_Name, @Model.District.Province.Type @Model.District.Province.Name</div>
                                    }
                                    @if (!String.IsNullOrWhiteSpace(@Model.Company_Info.Contact_Phone)) {
                                        <div class="pb-1"><i class="fas fa-phone-alt"></i> @Model.Company_Info.Contact_Phone</div>
                                    }
                                    @if (!String.IsNullOrWhiteSpace(@Model.Company_Info.Contact_Email)) {
                                        <div class="pb-1"><i class="fas fa-at"></i> @Model.Company_Info.Contact_Email</div>
                                    }
                                    @if (!String.IsNullOrWhiteSpace(@Model.Company_Info.website_Company)) {
                                        <div class="pb-1"><i class="fas fa-globe-asia"></i> <a href="@Model.Company_Info.website_Company" target="_blank">@Model.Company_Info.website_Company</a></div>
                                    }
                                    <div><i class="far fa-building"></i> <a href="@Url.Action("Company", "Home", new { area="", id = Model.Company_id })">Thông tin công ty</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<a class="btn btn-danger btn-sm my-2 d-block d-md-none" href="@Url.Action("Approve", "Recruitment", new { area = "Staff" })" role="button">
                Trở về
            </a>*@
    </div>
</div>

