@model IEnumerable<TrangTuyenDung.Models.Internship>
@{
    ViewBag.Title = "Danh sách yêu cầu cấp giấy giới thiệu";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.itemActive = "intern";
}

@section Styles {
    <!-- datatable boostrap4 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/css/dataTables.bootstrap4.min.css" integrity="sha256-F+DaKAClQut87heMIC6oThARMuWne8+WzxIDT7jXuPA=" crossorigin="anonymous" />

    <!-- bootstrap datepicker3 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.min.css" integrity="sha256-FAOaXTpl90/K8cXmSdsskbQN3nKYulhCpPbcFzGTWKI=" crossorigin="anonymous" />
}

<!-- page heading -->
<div class="h3 mb-3 text-gray-800">Danh sách yêu cầu cấp Giấy giới thiệu</div>

@if (ViewBag.Message == "Success") {
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <div>Giấy xác nhận Mã: <b>@ViewBag.id</b> đã được cập nhật. <a class="font-weight-medium" href="@Url.Action("Preview", "Internship", new { id = ViewBag.id, area= "Staff" })">In ngay</a></div>

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Tổng (@Model.Count()) yêu cầu hiện có</h6>
    </div>

    <div class="card-body">
        <small class="d-block mb-1">Định dạng (dd/mm/yyyy)</small>
        <div class="d-flex mb-3 flex-wrap">
            <div class="col-md-8 col-12 px-0 input-daterange input-group">
                <input class="form-control text-left" id="startDate" placeholder="Ngày bắt đầu" autocomplete="off" />
                <span class="input-group-text rounded-0 border-left-0 border-right-0">đến</span>
                <input class="form-control text-left" id="endDate" placeholder="Ngày kết thúc" autocomplete="off" />
            </div>

            <button id="btnSort" class="btn btn-primary btn-sm px-3 mt-1 mt-md-0 ml-0 ml-md-2 ml-auto ml-md-none">Lọc</button>
            @using (Html.BeginForm("Export", "Internship", FormMethod.Post, new { id = "myForm" })) {
                <input value="" name="startDay" id="submitStartDate" hidden />
                <input value="" name="endDay" id="submitEndDate" hidden />
                <button class="btn btn-outline-primary btn-sm px-3 ml-2 h-100" type="submit">Xuất Excel</button>
            }
        </div>

        @if (Model.Count() <= 0) {
            <div>Hiện tại không có yêu cầu nào.</div>
        }
        else {
            <div class="table-responsive">
                <table class="table table-bordered" id="table" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Mã đơn</th>
                            <th>MSSV</th>
                            <th>Họ tên</th>
                            <th>Chuyên ngành</th>
                            <th>Tên công ty</th>
                            <th title="dd/mm/yyyy">T/gian thực tập</th>
                            <th>HK thực tập</th>
                            <th>Hình thức</th>
                            <th title="dd/mm/yyyy">Ngày tạo</th>
                            <th>Trạng thái</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    @if (Model.Count() > 10) {
                        <tfoot>
                            <tr>
                                <th>Mã đơn</th>
                                <th>MSSV</th>
                                <th>Họ tên</th>
                                <th>Chuyên ngành</th>
                                <th>Tên công ty</th>
                                <th title="dd/mm/yyyy">T/gian thực tập</th>
                                <th>HK thực tập</th>
                                <th>Hình thức</th>
                                <th title="dd/mm/yyyy">Ngày tạo</th>
                                <th>Trạng thái</th>
                                <th>Thao tác</th>
                            </tr>
                        </tfoot>
                    }

                    <tbody>
                        @foreach (var item in Model) {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.MSSV</td>
                            <td>@item.Student_Name</td>
                            <td>@item.Faculties_Majors.Name</td>
                            <td>@item.Company_Name</td>
                            <td title="dd/mm/yyyy">
                                @item.Inter_from.ToString("dd/MM/yyyy")
                                <br />
                                @item.Inter_to.ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                @if (item.Semester_Inter == 0) {
                                    <span>HK I</span>
                                }
                                else if (item.Semester_Inter == 1) {
                                    <span>HK II</span>
                                }
                                else {
                                    <span>HK Hè</span>
                                }
                            </td>
                            <td>
                                @if (item.Type_Inter == 0) {
                                    <span>Thực tập Tốt nghiệp</span>
                                }
                                else if (item.Type_Inter == 1) {
                                    <span>Thực tập Nghề nghiệp</span>
                                }
                                else {
                                    <span>@item.internTypeOther</span>
                                }
                            </td>
                            <td title="dd/mm/yyyy">@item.create_day.ToString("dd/MM/yyyy")</td>
                            <td>
                                @if (item.status == 0) {
                                    <span class="badge badge-dark">SV Chưa nhận</span>
                                }
                                else {
                                    <span class="badge badge-success">SV Đã nhận</span>
                                }
                            </td>
                            <td>
                                <a class="btn btn-light p-0 text-primary" title="Sửa giấy giới thiệu" role="button" href="@Url.Action("Edit", "Internship", new { id = item.Id, area= "Staff" })">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a class="btn btn-light p-0 text-dark" title="In Giấy" role="button" href="@Url.Action("Preview", "Internship", new { id = item.Id, area= "Staff" })">
                                    <i class="fas fa-print"></i>
                                </a>

                                @if (item.status == 0) {
                                    <a class="btn btn-light p-0 text-success" title="Xác nhận SV đã nhận giấy" role="button" href="@Url.Action("Confirm", "Internship", new { id = item.Id, area= "Staff" })">
                                        <i class="fas fa-check"></i>
                                    </a>
                                }
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>

@section scripts{
    <!-- dataTable -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js" integrity="sha256-t5ZQTZsbQi8NxszC10CseKjJ5QeMw5NINtOXQrESGSU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/dataTables.bootstrap4.min.js" integrity="sha256-hJ44ymhBmRPJKIaKRf3DSX5uiFEZ9xB/qx8cNbJvIMU=" crossorigin="anonymous"></script>

    <!-- bootstrap datepicker3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha256-bqVeqGdJ7h/lYPq6xrPv/YGzMEb6dNxlfiTUHSgRCp8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.vi.min.js" integrity="sha256-TnMvef6AxT9fg6mNrTsZCgPDkU4g5EyB+tu66oLAI4U=" crossorigin="anonymous"></script>

    <!-- common func -->
    <script src="~/Scripts/common.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            const btnSort = $("#btnSort");
            const table = $('#table');

            initDatepickup($('.input-daterange'), { endDate: new Date(), format: "dd/mm/yyyy" });
            initDatatable(table);

            // sort date range
            $.fn.dataTable.ext.search.push(
                function (settings, data, dataIndex) {
                    const min = $('#startDate').datepicker("getDate");
                    const max = $('#endDate').datepicker("getDate");
                    const d = data[8].split("/");
                    const startDate = new Date(d[1] + "/" + d[0] + "/" + d[2]);

                    if (min == null && max == null) return true;
                    if (min == null && startDate <= max) return true;
                    if (max == null && startDate >= min) return true;
                    if (startDate <= max && startDate >= min) return true;
                    return false;
                }
            );
            btnSort.on("click", function () {
                const min = $('#startDate').val().trim();
                const max = $('#endDate').val().trim();

                if (!min || !max) return false;

                table.DataTable().draw();
            });

            // submit form
            $("#myForm").submit(function () {
                const min = $('#startDate').val().trim();
                const max = $('#endDate').val().trim();
                if (!min || !max) return false;

                const [sd, sm, sy] = min.split("/");
                const [ed, em, ey] = max.split("/");
                $("#submitStartDate").val(`${sm}/${sd}/${sy}`);
                $("#submitEndDate").val(`${em}/${ed}/${ey}`);
            });
        });
    </script>
}