@model IEnumerable<TrangTuyenDung.Models.Company_Info>
@{
    ViewBag.Title = "Danh Sách Công Ty";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.itemActive = "company";
}

@section Styles {
    <!-- DataTable -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/css/dataTables.bootstrap4.min.css" integrity="sha256-F+DaKAClQut87heMIC6oThARMuWne8+WzxIDT7jXuPA=" crossorigin="anonymous" />
}

<!-- page heading -->
<div class="h3 mb-3 text-gray-800">Danh sách công ty</div>

@if (@ViewBag.Message == "BlockSuccess") {
    <div class="alert alert-success alert-dismissible fade show mb-3" role="alert">
        <div><b>Khóa: </b>tạm khóa công ty thành công.</div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
else if (@ViewBag.Message == "ActiveSuccess") {
    <div class="alert alert-success alert-dismissible fade show mb-3" role="alert">
        <div><b>Khóa: </b>mở khóa công ty thành công.</div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
else if (@ViewBag.Message == "InviteSuccess") {
    <div class="alert alert-success alert-dismissible fade show mb-3" role="alert">
        <div><b>Mời: </b>đã gửi email mời công ty thành công.</div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
else if (@ViewBag.Message == "NeedEmail") {
    <div class="alert alert-warning alert-dismissible fade show mb-3" role="alert">
        <div><b>Email: </b>email công ty không được để trống.</div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
else if (@ViewBag.Message == "SendError") {
    <div class="alert alert-danger alert-dismissible fade show mb-3" role="alert">
        <div><b>Lỗi: </b>Email mời công ty chưa được gửi đi, vui lòng thử lại trong giây lát hoặc liên hệ để được hổ trợ.<br />Xin cảm ơn.</div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<!-- table content -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách công ty hiện có</h6>
    </div>


    <div class="card-body">

        @if (Model.Count() <= 0) {
            <div>Hiện tại không có công ty nào.</div>
        }
        else {
            <div class="table-responsive">
                <table class="table table-bordered" id="table" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Công Ty - SĐT</th>
                            <th>Website</th>
                            <th>Tỉnh/TP</th>
                            <th>Ngày Đăng Ký</th>
                            <th>Lĩnh Vực Chính</th>
                            <th>Lĩnh Vực Khác</th>
                            <th>Trạng Thái</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    @if (Model.Count() > 10) {
                        <tfoot>
                            <tr>
                                <th>Công Ty - SĐT</th>
                                <th>Website</th>
                                <th>Tỉnh/TP</th>
                                <th>Ngày Đăng Ký</th>
                                <th>Lĩnh Vực Chính</th>
                                <th>Lĩnh Vực Khác</th>
                                <th>Trạng Thái</th>
                                <th>Thao tác</th>
                            </tr>
                        </tfoot>
                    }

                    <tbody>
                        @foreach (var item in Model) {
                            <tr class="@(item.Status == 2 ? "text-danger" : null)">
                                <td>@Html.DisplayFor(modelItem => item.Name_Company) <br /> @item.Contact_Phone</td>
                                <td>
                                    <a href="/@item.website_Company">@Html.DisplayFor(modelItem => item.website_Company)</a><br />
                                    @if (item.User_In_Company.Count > 0)
                                    {
                                        <span>TK: @String.Join(", ", item.User_In_Company.Select(u => u.AspNetUser.Email))</span>
                                    }
                                </td>
                                <td>@item.Province.Type @item.Province.Name</td>
                                <td>@item.Created_at.ToString("dd/MM/yyyy")</td>
                                <td>
                                    @{
                                        string sValue = "";
                                        foreach (var m in item.Faculties_In_Companies) {
                                            sValue += m.Faculty.Name + ", ";
                                        }
                                    }
                                    @sValue
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.Faculties_Other)</td>
                                <td class="small">
                                    @if (item.Status == 1) {
                                        <i class="far fa-check-circle"></i>
                                        @Html.DisplayFor(modelItem => item.Status_Company.Name)
                                    }
                                    else if (item.Status == 2) {
                                        <i class="fas fa-user-lock"></i>
                                        @Html.DisplayFor(modelItem => item.Status_Company.Name)
                                    }
                                    else if (item.Status == 3) {
                                        <i class="fas fa-paper-plane"></i>
                                        @Html.DisplayFor(modelItem => item.Status_Company.Name)
                                    }
                                    else if (item.Status == 4) {
                                        <i class="fas fa-user-check"></i>
                                        @Html.DisplayFor(modelItem => item.Status_Company.Name)
                                    }
                                </td>
                                <td>
                                    @if (item.Status == 1) {
                                        <button class="btn btn-outline-danger btn-sm" id="blockButton" title="Tạm khóa công ty" data-name="@item.Name_Company" data-toggle="modal" data-url="@Url.Action("ChangeCompanyStatus", "Account", new {area = "Staff", @id = item.Id })" data-target="#blockConfirm">
                                            <i class="fas fa-lock"></i> Khóa
                                        </button>
                                    }
                                    else if (item.Status == 2) {
                                        <button class="btn btn-outline-danger btn-sm" id="activeButton" title="Mở khóa công ty" data-name="@item.Name_Company" data-toggle="modal" data-url="@Url.Action("ChangeCompanyStatus", "Account", new {area = "Staff", @id = item.Id })" data-target="#blockConfirm">
                                            <i class="fas fa-lock-open"></i> Mở Khóa
                                        </button>
                                    }
                                    else if (item.Status == 3) {
                                        <button class="btn btn-primary btn-sm" id="inviteButton" title="Mời đăng kí EJOB" data-name="@item.Name_Company" data-toggle="modal" data-url="@Url.Action("InviteCompany", "Account", new {area = "Staff", @id = item.Id })" data-target="#inviteConfirm">
                                            <i class="fas fa-paper-plane"></i> Mời
                                        </button>
                                    }
                                    else if (item.Status == 4) {
                                        <button class="btn btn-outline-success btn-sm" disabled><i class="fas fa-user-check"></i> Đã mời</button>
                                    }
                                </td>
                            </tr>
                                        }
                    </tbody>
                </table>
            </div>
                                        }
    </div>
</div>

<!-- block companay modal -->
<div class="modal fade" id="blockConfirm" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Xác nhận</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Công ty</label>
                    <div class="col-sm-10 py-2 font-weight-bold">
                        <span id="nameCom">Tên công ty</span>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light btn-sm" data-dismiss="modal">Hủy bỏ</button>
                <a id="confirmed" href="#">
                    <input id="btnSubmit" type="button" class="btn btn-danger btn-sm" value="#" />
                </a>
            </div>
        </div>
    </div>
</div>

<!-- invite company via email -->
<div class="modal fade" id="inviteConfirm" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Mời Công ty đăng ký EJOB</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form class="form" id="inviteForm" method="post" action="#">
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Công ty</label>
                        <div class="col-sm-10 py-2 font-weight-bold">
                            <span id="invite_company_name">Tên công ty</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="Email" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="Email" name="Email">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="mail-content" class="col-sm-2 col-form-label">Nội dung</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="mail-content" name="mail-content"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="mail-sign" class="col-sm-2 col-form-label">Chữ ký</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="mail-sign" name="mail-sign"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light btn-sm" data-dismiss="modal">Hủy bỏ</button>
                    <button type="submit" name="submit" class="btn btn-success btn-success btn-sm">Mời</button>
                </div>
            </form>

        </div>
    </div>
</div>

@section scripts{
    <!-- datatable -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js" integrity="sha256-t5ZQTZsbQi8NxszC10CseKjJ5QeMw5NINtOXQrESGSU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/dataTables.bootstrap4.min.js" integrity="sha256-hJ44ymhBmRPJKIaKRf3DSX5uiFEZ9xB/qx8cNbJvIMU=" crossorigin="anonymous"></script>
    <!-- common func -->
    <script src="~/Scripts/common.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            initDatatable($("#table"));

            $(document).on("click", "#blockButton", function () {
                $('#confirmed').attr('href', $(this).data('url'));
                $('#btnSubmit').attr('value', "Tạm Khóa");
                $('#btnSubmit').attr('class', "btn btn-danger btn-sm");
                $('#nameCom').text($(this).data('name'));
            });

            $(document).on("click", "#activeButton", function () {
                $('#confirmed').attr('href', $(this).data('url'));
                $('#btnSubmit').attr('value', "Mở khóa");
                $('#btnSubmit').attr('class', "btn btn-success btn-sm");
                $('#nameCom').text($(this).data('name'));
            });

            $(document).on("click", "#inviteButton", function () {
                $('#inviteForm').attr('action', $(this).data('url'));
                $('#invite_company_name').text($(this).data('name'));
            });

        });
    </script>
}
