@using Microsoft.AspNet.Identity
@model IEnumerable<TrangTuyenDung.Models.Majors_In_Recruitments>

<div class="profile_cover rounded-bottom d-flex align-items-center ">
    <div class="cover_background"></div>

    <div class="container profile_content text-white d-flex align-items-center">
        <div class="col-auto user_avatar rounded-circle border-1 border-white">
            <img src="@Url.Content("~/App_Data/Student/Logos/" +User.Identity.GetUserId()+"?randomKey="+ViewBag.Random)" onError="this.src='@Url.Content("~/App_Data/Student/Logos/Anonymous_User")';" alt="Ảnh đại diện">
        </div>

        <section class="col student_info col-auto overflow-hidden w-75">
            <h5 class="text-truncate text-capitalize">@ViewBag.Name <a class="btn btn-outline-light btn-sm" href="@Url.Action("Detail", "Account", new { area = "Student"})" role="button"><i class="fas fa-user-edit"></i></a></h5>
            @*<div><i class="far fa-id-card"></i></div>*@
            <div class="text-truncate"><i class="fas fa-graduation-cap"></i> @ViewBag.Faculty</div>
        </section>
    </div>
</div>

<div class="actions_button border-bottom bg-light">
    <div class="container">
        <div class="btn-group w-100" role="group" aria-label="Button group with nested dropdown">
            <a class="btn btn-outline-secondary rounded-0 border-top-0" href="@Url.Action("Dashboard", "Account", new { area = "Student" })" role="button">Bảng điểu khiển</a>

            <div class="btn-group d-none d-lg-block" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle rounded-0 border-top-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Hồ sơ
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="@Url.Action("Detail", "Account", new { area = "Student"})">Cập nhật hồ sơ</a>
                </div>
            </div>

            <div class="btn-group d-none d-lg-block" role="group">
                <button id="btnGroupDrop2" type="button" class="btn btn-outline-secondary dropdown-toggle rounded-0 border-top-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ứng tuyển
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
                    <a class="dropdown-item" href="@Url.Action("TrackingCV", "Account", new { area = "Student"})">Theo dõi CV</a>
                    <a class="dropdown-item" href="@Url.Action("InterviewResult","Account",new { area = "Student"})">Kết quả phỏng vấn</a>
                </div>
            </div>

            <div class="btn-group d-none d-lg-block" role="group">
                <button id="btnGroupDrop3" type="button" class="btn btn-outline-secondary dropdown-toggle rounded-0 border-top-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    CV
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop3">
                    @if (ViewBag.CV_Id != null) {
                        <a class="dropdown-item" href="@Url.Action("View_CV", "Account", new { area = "Student" })" title="Xem CV của bạn">Xem CV</a>
                        <a class="dropdown-item" href="@Url.Action("Public_CV", "Account", new { area = "Student" })" title="Công khai CV của bạn">Công Khai CV</a>
                    }
                    else {
                        <a class="dropdown-item" href="@Url.Action("Detail", "Account", new { area = "Student" , @message = "NeedCreateCV" })" title="Xem CV của bạn">Tạo CV</a>
                    }
                </div>
            </div>

            <div class="btn-group d-none d-lg-block" role="group">
                <button id="btnGroupDrop4" type="button" class="btn btn-outline-secondary dropdown-toggle rounded-0 border-top-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tin tuyển dụng
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop4">
                    <a class="dropdown-item" href="@Url.Action("Bookmarked", "Recruitment", new { area = "Student" })">Ưa thích</a>
                </div>
            </div>

            <div class="btn-group d-block d-lg-none" role="group">
                <button id="btnGroupDrop4" type="button" class="btn btn-outline-secondary dropdown-toggle rounded-0 border-top-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-h"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop4">
                    <a class="dropdown-item" href="@Url.Action("Detail", "Account", new { area = "Student"})">Cập nhật hồ sơ</a>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="@Url.Action("TrackingCV", "Account", new { area = "Student"})">Theo dõi CV</a>
                    <a class="dropdown-item" href="@Url.Action("InterviewResult","Account",new { area = "Student"})">Kết quả phỏng vấn</a>

                    <div class="dropdown-divider"></div>
                    @if (ViewBag.CV_Id != null) {
                        <a class="dropdown-item" href="@Url.Action("View_CV", "Account", new { area = "Student" })" title="Xem CV của bạn">Xem CV</a>
                        <a class="dropdown-item" href="@Url.Action("Public_CV", "Account", new { area = "Student" })" title="Công khai CV của bạn">Công Khai CV</a>
                    }
                    else {
                        <a class="dropdown-item" href="@Url.Action("Detail", "Account", new { area = "Student" , @message = "NeedCreateCV" })" title="Xem CV của bạn">Xem CV</a>
                    }

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="@Url.Action("Bookmarked", "Recruitment", new { area = "Student" })">Tin tuyển dụng ưa thích</a>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="main-left-sidebar no-margin sticky-top">
        @if (Request.IsAuthenticated) {
            if (User.IsInRole("Student")) {
                <div class="wrapper">
                    <div class="upper">
                        <img src="~/Assets/img/user-coverimg.jpg" />
                    </div>

                    <div class="lower">
                        <img src="@Url.Content("~/App_Data/Student/Logos/" +User.Identity.GetUserId() + "?randomKey=" + ViewBag.Random)" alt="Ảnh đại diện" onError="this.src='@Url.Content("~/App_Data/Student/Logos/Anonymous_User")';">

                        <div class="information">
                            <span class="nickname">@ViewBag.Name</span>
                            <span class="city"><i class="fas fa-graduation-cap"></i> Chuyên Ngành</span>
                            <span class="career uppercase">
                                @ViewBag.Faculty
                            </span>

                            <hr />
                            <div class="student-sidebar-wrapper">
                                <ul class="sidebar-menu">
                                    <li>
                                        <span class="nav-section-title"></span>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Dashboard","Account",new { area = "Student"})">
                                            <span class="fa fa-puzzle-piece"></span>Bảng Điều Khiển
                                        </a>
                                    </li>
                                    <li class="have-children">
                                        <a class="droptitle" href="#"><span class="fa fa-user"></span>Hồ Sơ</a>
                                        <ul>
                                            <li><a href="@Url.Action("Detail","Account",new { area = "Student"})">Cập nhật hồ sơ</a></li>
                                        </ul>
                                    </li>
                                    <li class="have-children">
                                        <a class="droptitle" href="#"><span class="fa fa-id-badge"></span>Ứng Tuyển</a>
                                        <ul>
                                            <li><a href="@Url.Action("TrackingCV","Account",new { area = "Student"})" title="Theo dõi các CV bạn đã nộp">Theo dõi CV</a></li>
                                            <li><a href="@Url.Action("InterviewResult","Account",new { area = "Student"})" title="Kết quả phỏng vấn của bạn">Kết Quả Phỏng Vấn</a></li>
                                        </ul>
                                    </li>
                                    <li class="have-children">
                                        <a class="droptitle" href="#"><span class="fa fa-id-badge"></span>CV</a>
                                        <ul>
                                            @if (ViewBag.CV_Id != null) {
                                                <li><a class="text-action" href="@Url.Action("View_CV","Account",new { area = "Student"})" title="Xem CV của bạn">Xem CV</a></li>
                                                <li><a class="text-action" href="@Url.Action("Public_CV","Account",new { area = "Student"})" title="Công khai CV của bạn">Công Khai CV</a></li>
                                            }
                                            else {
                                                <li><a href="@Url.Action("Detail","Account",new { area = "Student" , @message = "NeedCreateCV"})" title="Xem CV của bạn">Xem CV</a></li>
                                            }
                                        </ul>
                                    </li>
                                    <li class="have-children">
                                        <a class="droptitle" href="#"><span class="fa fa-briefcase"></span>Tin Tuyển Dụng</a>
                                        <ul>
                                            <li><a href="@Url.Action("Bookmarked","Recruitment",new { area = "Student"})">Yêu Thích</a></li>
                                        </ul>
                                    </li>
                                    @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" })) {
                                        <li><a href="javascript:document.getElementById('logoutForm').submit()" title=""><span class="fa fa-sign-out-alt"></span>Đăng Xuất</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                if (TempData["ShowSuggest"].Equals(true)) {
                    <div class="suggestions full-width">
                        <div class="sd-title">
                            <h3>Tin Liên Quan Đến Chuyên Ngành Của Bạn</h3>
                        </div>
                        <div class="suggestions-list">
                            @if (Model != null) {
                                foreach (var item in Model.Take(10)) {
                                    <div class="suggestion-usd">
                                        <div class="sgt-text">
                                            @if (item.Recruitment.Company_id != null) {
                                                <a href="@Url.Action("Company","Home",new { area ="",id=item.Recruitment.Company_id})" title="Tên Công Ty"><h4>@item.Recruitment.Company_Info.Name_Company</h4></a>
                                            }
                                            else {
                                                <h4>VLU-Company</h4>
                                            }
                                            <a href="@Url.Action("Detail", "Recruitment", new { area="",id=item.Recruitment_Id})" title="Tiêu Đề Tin"><span>@item.Recruitment.title</span></a>
                                        </div>
                                    </div>
                                }
                            }
                            else {
                                <div class="suggestion-usd">
                                    <div class="sgt-text">
                                        <h4>Không tìm thấy tin liên quan</h4>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            }
        }
        else {
            <div class="suggestions full-width">
                <div class="sd-title">
                    <a href="@Url.Action("Login","Account")"><button class="btnLogin">Đăng Nhập Ngay</button></a>
                </div>
            </div>
        }
    </div>*@